<div class="titulo" id="reloj" style="font-size:85px;"></div>
<div class="slider-frame">
    <ul>
        <li><img src="../../../assets/Img/modulos/font-awesome.png" alt=""></li>
        <li><img src="../../../assets/Img/modulos/richeditor.webp" alt=""></li>
        <li><img src="../../../assets/Img/modulos/air-datepicker.png" alt=""></li>
        <li><img src="../../../assets/Img/modulos/sweetalert2.jpg" alt=""></li>
    </ul>

    <ul class="slider-controler">
      <li><a href="#slide1">&bullet;</a></li>
      <li><a href="#slide2">&bullet;</a></li>
      <li><a href="#slide3">&bullet;</a></li>
      <li><a href="#slide4">&bullet;</a></li>
      <li><a href="#slide5">&bullet;</a></li>
    </ul>
</div>

