<div class="contenedor">
  <div class="file-input">
    <input type="file" id="file" name="file" accept="image/*" (change)="onImageCompressed($event)">
    <label for="file">
      <i class="fas fa-upload"></i>
      <span>Seleccionar archivo</span>
    </label>
  </div>
  <div class="banner">
    <!-- <button (click)="downloadImage()" *ngIf="compressedImageSrc">Download Compressed Image</button> -->
    <!-- <img [src]="compressedImageSrc" *ngIf="compressedImageSrc">
    <img [src]="imageUrl"> -->
    <a [href]="compressedImageSrc" *ngIf="compressedImageSrc != undefined" download="image.jpg" class="btn btn-primary" target="_blank">
      <i class="fa fa-download"></i> Descargar imagen
    </a>
  </div>
</div>
