//variables
$background-purple: #EEEEEE;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$blue: #4738f0;

$fuente: forgotten_futurist;

@font-face {
  font-family: PT Sans Narrow;
  src: url('../fonts/PTSansNarrow/PTSansNarrow-Regular.ttf');
}

@font-face {
font-family: forgotten_futurist;
src: url('../fonts/forgotten_futurist/forgotten\ futurist\ rg.ttf');
}

body{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: $fuente;
}

.titulo{
    font-family: $fuente;
    text-align: center;
}

.cursor{
    cursor: pointer;
}

.contenedor {
  max-width:80%;
  height:auto;
  background-color:#EFEFEF;
  margin: 5% auto;
  padding: 1rem;
  text-align: center;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// page container
.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

// tutorial start
.tutorial {
  width: 80%;
  margin: 5% auto 0 auto;
  box-shadow: 0 4px 12px rgba(black, 0.1);
  background-color: $subtle-white;
  max-width: 800px;

.slider {
  width: 100%;
  height: 300px;
  background-color: $blue;
}

.information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: $fuente;

  h1 {
    color: $masked-grey;
    font-size: 1.5rem;
    padding: 0px 10px;
    border-left: 3px solid $blue;
  }

  h3 {
    color: darken($subtle-grey, 7%);
    font-size: 1rem;
    font-weight: 300;
    padding: 0px 10px;
    border-left: 3px solid $blue;
  }

  p {
    padding: 10px 0px;
  }
}

  ul {
    font-size: 0;
    list-style-type: none;

    // initial li
    li {
      font-family: $fuente;
      font-size: 1rem;
      font-weight: 400;
      color: $masked-grey;

      display: inline-block;
      padding: 17px;
      position: relative;

       // secondary ul
        ul {
          display: none;
        }

      // initial li:hover
      &:hover {
        cursor: pointer;
        background-color: $subtle-grey;

        // secondary ul visibility change
        ul {
          display: block;
          margin-top: 15px;

          width: 200px;
          left: -50px;

          position: absolute;

          // secondary li
          li {
            display: block;
            background-color: darken($subtle-white, 7%);
            span {
              float: right;
              color: $subtle-white;
              background-color: $blue;
              padding: 2px 5px;
              text-align: center;
              font-size: .8rem;
              border-radius: 3px;
            }

            &:hover {
              background-color: darken($subtle-white, 10%);
              span {
                background-color: darken($blue, 5%);
              }
            }
          }
        }
      }
    }
  }
}
